body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.navbar-default {
    height: 9rem;
    background-color: #FFF;
    border-bottom: .1rem solid #303E9C;
}

.navbar-brand {
    padding: 28px 15px;
}

.users-section {
    background: #fff;
}


.table>tbody>tr>td,
.table>tbody>tr>th{
    vertical-align: middle;
}

#phone{
    width:120px;
}

#key{
    width:50px;
}

.progress{
    margin-bottom: 0;
}

.alert{
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom:0;
    position: fixed;
}

blockquote{
    font-size: 13px;
    margin-bottom:5px;
    border-left: 5px solid #303e9c;
    padding: 8px 20px;
}

.blockquote-reverse{
    border-right:5px solid #4CAF50;
}

blockquote p {
    margin: 0 0 2px;
}

.panel-body{
    overflow:auto;
    min-height:300px;
    height:60vh;
}

.panel-heading{
    font-weight:bold;
    font-size: 16px;
}

table.rawdata{
    font-size: 12px;
}

table.rawdata>tbody>tr>td,
table.rawdata>tbody>tr>th{
    padding: 3px;
}