{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
  {% include 'navbar.html' %}
<!-- Intro Section -->
<section id="users" class="users-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Candidats</h1>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de Naissance</th>
                            <th>Téléphone</th>
                            <th>Profil Complet</th>
                            <th>Premier Contact</th>
                            <th>Dernier Contact</th>
                            <th align="center">BBJ API</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate.lastName }}</td>
                            <td>{{ candidate.firstName }}</td>
                            <td>{{ clean_date(candidate.birthDate) }}</td>
                            <td>+{{ candidate.phone }}</td>
                            <td>
                                <div class="progress">
                                    <div
                                            class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ status_to_str(candidate) }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100" style="width: {{ status_to_str(candidate) }}%">
                                        {{ status_to_str(candidate) }}%
                                    </div>
                                </div>
                            </td>
                            <td>{{ clean_date(candidate.createdAt, "%d/%m à %Hh%m") }}</td>
                            <td>{{ clean_date(candidate.updatedAt, "%d/%m à %Hh%m") }}</td>
                            <td align="center">{% if candidate.pushedToBbj %}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% endif %}</td>
                            <td><a type="button" class="btn btn-info" href="/history/{{ candidate.phone }}">Historique</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
{% endif %}
{% endblock %}
