{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
  {% include 'navbar.html' %}
<!-- Intro Section -->
<section id="users" class="users-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-1">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">{{phone}}</div>
                  <div class="panel-body" id="conversation">
                        {% for message in messages %}
                          <blockquote {% if message.source != "sms" %} class="blockquote-reverse" {% endif %} >
                              <p>{{message.message}}</p>
                              <footer>via <cite title="Source Title">{{message.source}}</cite>  at {{ clean_date(message.createdAt, "%d/%m/%Y %H:%M") }}</footer>
                            </blockquote>
                        {% endfor %}
                  </div>
                  <div class="panel-footer">
                      <p>Simulate SMS from candidate:</p>
                      <form class="form-horizontal" method="GET" action="/webhook" target="transFrame"  accept-charset="ISO-8859-1"
                            onsubmit="setTimeout(function(){location.reload(true)}, 1500);">
                          <div class="row">
                              <div class="col-xs-10">
                                <input type="text" class="form-control" id="message" name="message" placeholder="Type message">
                                <input type="hidden" class="form-control" id="phoneNumber" name="phoneNumber" value="{{phone}}">
                              </div>
                              <div class="col-xs-2">
                                  <button type="submit" class="btn btn-default">Send</button>
                              </div>
                          </div>
                      </form>
                      <iframe style="width:0;height:0;border:0; border:none;" name="transFrame" id="transFrame" ></iframe>
                  </div>
                </div>

            </div>
            <div class="col-md-4">
                <table class="table table-striped table-hover rawdata">
                    <tr>
                        <th>Candidate Fields</th>
                        <th>Value</th>
                    </tr>
                 {% for key, value in candidate.items() %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                {% endfor %}
                </table>

            </div>
        </div>

    </div>
</section>
<script>
    var objDiv = document.getElementById("conversation");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
{% endif %}
{% endblock %}
