{% extends "layout.html" %}
{% block body %}
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <form id="loginForm" method="POST" action="" novalidate="novalidate">
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               title="Please enter you username">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               title="Please enter your password">
                        <span class="help-block"></span>
                    </div>
                    {% if title!="Login" %}
                    <div class="form-group">
                        <label for="password" class="control-label">New Password</label>
                        <input type="password" class="form-control" id="newpassword" name="newpassword"
                               title="Please enter your new password">
                        <span class="help-block"></span>
                    </div>
                    {% endif %}
                    {% if title=="Login" %}
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="remember" id="remember"> Remember login
                        </label>
                    </div>
                    {% endif %}
                    {% if error %}
                    <div id="loginErrorMsg" class="alert alert-error"> {{ error }}</div>
                    {% endif %}
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
