<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/">
                <img src="{{ url_for('static', filename='logo.png')}}" height="30px" alt="BimBamJob">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:20px;">

            <!--<a href="#" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">Tester Bot</a>-->


            <div class="btn-group navbar-btn navbar-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compte <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/account">Changer le mot de passe</a></li>
                <li><a href="/logout" >Se Déconnecter</a></li>
              </ul>
            </div>
            <a href="/pushtoapi" class="btn btn-default navbar-btn navbar-right" style="margin-right:10px;">Push to BBJ API</a>

            <form class="navbar-form" action="/contact" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Tél. (336..)">
                </div>
                <button type="submit" class="btn btn-default">Contacter</button>
            </form>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>